# Python
__pycache__/
*.py[cod]
*.sqlite3
venv/

# Django
/staticfiles/
/media/

# Node / React
node_modules/
frontend/node_modules/
build/
frontend/dist/
*.tsbuildinfo
*.log

# Editor
.idea/
.vscode/
.DS_Store
